*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

@mixin color($bg-color, $txt-color) {
  background-color: $bg-color;
  color: $txt-color;
  font-size: 18px;
  cursor: pointer;
  &:hover {
    background-color: lighten($bg-color, 10%);
  }
}

.list {
  border: 5px dashed rgb(146, 146, 146);
  padding: 50px;
  div {
    // padding: 40px;
    // width: 550px;
    display: flex;
    justify-content: center;
    // align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
    span {
      letter-spacing: 2px;
      //   background-color: red;
      border-radius: 30px;
      padding: 20px;
      &:first-child {
        @include color(blue, white);
      }
      &:nth-child(2) {
        @include color(rgb(104, 46, 241), white);
      }
      &:nth-child(3) {
        @include color(rgb(143, 102, 238), white);
      }
      &:nth-child(4) {
        @include color(rgb(88, 112, 250), white);
      }
      &:nth-child(5) {
        @include color(rgb(50, 11, 142), white);
      }
      &:nth-child(6) {
        @include color(rgb(153, 124, 223), white);
      }
      &:nth-child(7) {
        @include color(rgb(234, 98, 193), white);
      }
    }
  }
}
