// Import
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

// Reset the UI
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(60deg, #39f, #1df, #3af);
    .searchBox {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      height: 80px;
      width: 80px;
      border-radius: 50px;
      background-color: #fff;
      transition: 500ms;
    }

    .searchBox.active {
      border-radius: 50px;
      transition: 500ms;
      width: 600px;
    }

    .searchBox.active .close {
      scale: 1;
      transition: 500ms;
    }

    .searchBox .search,
    .searchBox .close {
      &:hover {
        background-color: rgb(235, 234, 234);
      }
    }

    .searchBox .search span,
    .searchBox .close span {
      cursor: pointer;
      position: relative;
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
    }

    .searchBox .close {
      scale: 0;
    }

    .searchBox .close .searchInput {
      border-radius: 0;
    }

    .searchInput {
      position: relative;
      flex: 1 0 auto;
      height: 80px;
      // background-color: #f00;
    }

    .searchInput input {
      padding-left: 20px;
      height: 100%;
      width: 100%;
      outline: none;
      border: none;
      &::placeholder {
        font-size: 20px;
      }

      &:focus,
      &:not(:focus) {
        // background-color: red;
        font-size: 18px;
      }
    }
  }
}
