body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  margin: 0 auto;
  max-width: 600px;
}

.img-box > img {
  object-fit: contain;
  width: 100%;
  background-size: cover;
}
